#container{
    margin-top: 5px !important;
}
.buttonleiste1 button{
    margin-right: 5px !important;
}
.erstelleKategorieForm{
    display:block;
}

.attribute-kategorie, .output-values{
    border: solid 1px black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}