.buttonleiste{
    margin:5px;
}
.erstelleKategorieForm{
    display:block;
}

.attribute-kategorie, .output-values{
    border: solid 1px black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}